html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: rgba(1, 26, 26, 0.842);
    padding-top: 2%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-headers {
    color: aliceblue;
}

#input-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(191, 211, 228);

}

#input-form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#input-message {
    border-radius: 20px;
}

#sel-providers {
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 226, 135, 0.644);
    color: #000;
    width: 70%;
}

.notification-provider span {
    font-size: 20px;
}

#btn-send {
    background-color: chartreuse;
    color: black;
    width: 15%;
    padding: 5px;
    border-radius: 10px;
    border-color: rgba(200, 255, 0, 0.911);
    border-style: solid;
    font-size: 15px;

}

#btn-send:hover {
    background-color: green;
    color: #ffe600;
    font-size: 20px;
}

