<!DOCTYPE html>

<html lang="en">
    <head>
    <title>Photo Point</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="page-headers">
                <div><h1>Photo Point</h1></div>
                <div><h2>Notifications server</h2></div>
            </div>
            <div id="input-wrap">
                <div><h2>Send your message to users</h2></div>
                <form id="input-form-main" method="post" action="/send_message">
                    <div id="input-message">
                        <textarea 
                        type="text"  
                        name="message" 
                        rows="20"
                        cols="90"
                        placeholder="Enter your message here"
                        ></textarea>
                    </div>
                    <div id="sel-providers">
                        <div class="notification-provider">
                        <input type="checkbox" id="sms-check" name="providers" value="sms">
                        <label for="sms-check">SMS</label>
                        </div>
                        <div class="notification-provider">
                        <input type="checkbox" id="mail-check" name="providers" value="email">
                        <label for="mail-check">Email</label>
                        </div>
                        <div class="notification-provider">
                        <input type="checkbox" id="tg-check" name="providers" value="telegram">
                        <label for="tg-check">Telegram</label>
                        </div>
                    </div>
                    <button type="submit" id="btn-send">Send</button>
                </form>
            </div>
        </main>

    </body>
</html>