<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Photo Point</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="page-headers">
                <div><h1>Photo Point</h1></div>
                <div><h2>Notifications server</h2></div>
            </div>
            <div id="input-wrap">
                <div><h2>Send your message to users</h2></div>
                <form id="input-form-main" method="post" action="/send_message">
                    <div id="input-message">
                        <textarea 
                        type="text"  
                        name="message" 
                        rows="20"
                        cols="90"
                        placeholder="Enter your message here"
                        required
                        ></textarea>
                    </div>
                    <div id="sel-providers" style="color: #000; background-color: #c3ee72c5; display: flex; flex-direction: column; align-items: center; padding: 10px; border-radius: 8px; margin-top: 10px; width: 70%;">
                        <div>
                            <h3>Channels</h3>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>Choose possible channels for notifications. The more channels, the more likely delivery</p>
                        </div>
                        <div style="display: flex; flex-direction: row; align-items: center; gap: 30px;">
                            <div class="notification-provider" style="display: flex; align-items: center; gap: 8px;">
                                <input type="checkbox" id="sms-check" name="providers" value="sms" checked class="provider-checkbox">
                                <label for="sms-check" class="provider-label">SMS</label>
                            </div>
                            <div class="notification-provider" style="display: flex; align-items: center; gap: 8px;">
                                <input type="checkbox" id="mail-check" name="providers" value="email" checked class="provider-checkbox">
                                <label for="mail-check" class="provider-label">Email</label>
                            </div>
                            <div class="notification-provider" style="display: flex; align-items: center; gap: 8px;">
                                <input type="checkbox" id="tg-check" name="providers" value="telegram" checked class="provider-checkbox">
                                <label for="tg-check" class="provider-label">Telegram</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" id="btn-send">Send</button>
                </form>
            </div>
        </main>

    </body>
</html>